body{
    margin: 0px;
    padding: 0px;
}
.main{
    background-color: rgba(16, 15, 15, 0.866);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.google-box{
    background-color: black;
    height: 500px;
    width: 70%;
    margin-bottom: 20px;
    border-radius: 40px;
    display: flex;

}

.left-box{
    /* background-color: aqua; */
    height: 440px;
    width: 50%;
    padding: 30px;
}

.left-box img{
    height: 60px;
}

.left-box h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 40px;
    margin-top: 20px;
}
.left-box h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 20px;
    margin-top: 20px;
}

.right-box{
    /* background-color: rgb(12, 250, 8); */
    height: 440px;
    width: 50%;
    padding: 30px;
}

.input-div{
    display: flex;
    flex-direction: column;
    margin: 100px 50px 0px 50px;
}
.input-div input{
    color: white;
    background-color: black;
    height: 40px;
    width: 100%;
    border: 1px solid white;
    padding-left: 20px;
}
.input-div a{
    color: white;
    font-size: 18px;
    margin-top: 10px;
    text-decoration: none;
}

.link-box{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 60px;
}

.link-box span{
    color: white;
    margin-top: 10px;
    text-decoration: none;
}
.link-box a{
    color: rgb(147, 179, 252);
    text-decoration: none;
    margin-top: 10px;
}

.btn-box{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 120px;
}

.btn-box a{
    color: white;
    background-color: rgb(84, 122, 209);
    height: 40px;
    width: 100px;
    margin-left: 30px;
    border-radius: 20px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.span-box{
    color: white;
    /* background-color: brown; */
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.last-btn span{
    padding-left: 20px;
}









@media only screen and (min-width: 320px) and (max-width: 700px){
    .google-box{
        flex-direction: column;
        height: 80vh;
        width: 70%;
        padding: 40px;  
    }
    .left-box, .right-box{
        width: 80%;
    
    }
    .left-box{
        padding: 0px;
    }

    .right-box{
        /* background-color: rgb(12, 250, 8); */
        padding: 0px;
        width: auto;
    }
    .link-box{
        margin-top: 40px;
        text-align: start;
    }                                   
    .input-div{
        margin: 0px;
    }
    input{
        margin: 0px;
    }
    .btn-box{
        justify-content: space-between;
        margin-top: 90px;
    }

    .btn-box a{
        /* background-color: black; ; */
        height: 40px;    
        margin:0px;
    }
}